<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="foreman" data-view="Simplemon" data-title="Foreman"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
    <div data-id="jenkins" data-view="Simplemon" data-title="Jenkins"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
    <div data-id="icinga" data-view="Simplemon" data-title="Icinga services"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#333333;" data-moreinfo="Tweets tagged with #inuits"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="Image" style="background-color:#0f0f0f;" data-image="/logo.png"></div>
    </li>


  </ul>
</div>
